*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* setting box-sizing property on each element on the entire page to inherit */
    box-sizing: inherit;
}

html {
    /* (10/16=0.625  10 pixels what we want, and 16 pixels is browser default size */
    // This defines what 1rem is
    font-size: 62.5%;

    @include respond(tab-land) {
        //width < 1200?
        font-size: 56.25%; //1rem == 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) {
        //width < 900?
        font-size: 50%; // 1rem == 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem == 12px, 12/16 = 75%
    }
}

body {
    /* box-sizing this will be inherited to all elements */
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}
