.composition {
    position: relative;
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all 0.2s;
        // gives space between the border and element
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 0;
            top: 2rem;
        }
        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            // outline is the same as border but it gives option to add space around an element
            outline: 1.5rem solid $color-primary;
            transform: scaleX(1.05) scaleY(-0.05rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
            z-index: 20;
        }
    }
    // composition:hover composition__photo:not(:hover)
    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }
}
